<div class="row">
  <h1>Bit-Bidder</h1>
  <p>Welcome to BitBidder.</p>

  <div class="col-sm-9">
    <h2>Black market bids</h2>
    <ul>
      <li>Play foo figthers</li>
      <li>Play nirvana</li>
      <li>Chop heads</li>
      <li>Kill a president</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <h2>Bid</h2>
    <form action="/" method="post">
      <input type="text" name="foo" id="bar" value="asdf" />
      <input type="submit" name="submit" id="ijd" value="create" />
    </form>
  </div>
</div>
