<div class="row">
  <h1>Bit-Bidder</h1>
  <p>Welcome to BitBidder.</p>

  <div class="col-sm-9">
    <h2>Black market bids</h2>
    <ul>
    {{#each bids}}
    <li>{{value}} {{paid_worth}}
      <form action="/bids/{{value}}" method="post">
        <input type="text" name="bidWorth" id="bitWorth" value="" />
        <input type="submit" name="submitBidWorth" id="" value="Place Bid" />
      </form>
    </li>
    {{/each}}
    </ul>
  </div>
  <div class="col-sm-3">
    <h2>Bid</h2>
    <form action="/bids" method="post">
      <input type="text" name="bidName" id="bidName" value="" />
      <input type="submit" name="submit" id="ijd" value="create" />
    </form>
  </div>
</div>
